{% extends "base.html" %}

{% block content %}
    <hr class="container car">
    <h4>{{ car.car_model }}</h4>
    <hr/>
    <h1>Car details:</h1>
    <img src="{{ car.car_photo.url }}" style="margin-bottom: 20px;">
    </hr>
        <p><strong>Owner:</strong> {{ car.client }}</p>
        <p><strong>Country Code:</strong> {{ car.country_registration_no }}</p>
        <p><strong>VIN:</strong> {{ car.vin_code }}</p>
        <p>{{ car.description | safe }}</p>
    </div>
{% endblock %}